body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
}

/* Liens dans le footer */
.footer-link {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-link:hover {
  text-decoration: underline;
  color: #ccc;
}

/* Icônes dans le footer */
.footer-icon {
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.footer-icon:hover {
  transform: scale(1.2);
  color: #ccc;
}
